<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment.html :: setBody(~{ :: body})}">
    <th:block th:fragment="body">


        <main class="site-main" style="margin-bottom: 100px;">
            <div class="product_image_area">
                <div class="container">
                    <div class="row s_product_inner">
                        <div class="col-lg-6">
                            <div class="owl-carousel owl-theme s_Product_carousel">
                                <div class="single-prd-item">
                                    <img class="img-fluid" src="/img/bolpen.jpg" width="600">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                            <div class="s_product_text">
                                <oi>상품번호 : <span id="itemId">[[${item.itemId}]]</span></oi>
                                <h3>[[${item.itemName}]]</h3>
                                <h2>[[${item.itemAmount}]] 원</h2>
                                <ul class="list">
                                    <li><span>재고량</span> :  [[${item.stockQuantity}]] 개</a></li>
                                    <li><span>좋아요</span> :  <i class="fab fa-gratipay"></i> <span id="likeCount">[[${item.likeCount}]]</span> 개</a></li>
                                </ul>
                                <div class="product_count" style="margin-top: 24px;">
                                    <label for="qty">수량:</label>
                                    <input type="text" id="orderCount" title="수량" th:maxlength="${item.stockQuantity}" value="1" class="input-text qty">
                                </div>
                                <div>
                                    <button id="addToCart" style="display: inline-block;
                                    border-radius: 10px;
                                    border: 1px solid #384aeb;
                                    font-weight: 500;
                                    padding: 12px 20px;
                                    color: #fff; transition: all .4s ease;
                                    position: relative; background: #384aeb;" title="장바구니"> 장바구니 담기 </button>
                                    <button id="likeBtn" title="좋아요" style="border: 1px solid #e8e8e8; background: white; padding: 5px; position: relative; border-radius: 10px;">
                                        <a href="#">
                                            <i class="fab fa-gratipay" id="likeIcon" style="vertical-align: middle; font-size: 40px; color: gray;">
                                            </i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </th:block>
</th:block>

<script th:inline="javascript">
    window.onload = function() {

        (function () {
            console.log("closer...");

            var isLike = [[${liked}]];

            if(isLike) {
                document.getElementById("likeIcon").style.color = "red";
            }
        })();

        // Button
        let addToCartBtn = document.getElementById("addToCart");
        let likeBtn = document.getElementById("likeBtn");

        const itemId = [[${item.itemId}]]
        let likeIcon = null;
        let likeCount = document.getElementById("likeCount");
        var httpRequest;

        addToCartBtn.addEventListener("click", addToCart);
        likeBtn.addEventListener("click", clickLike)

        // ========= Event Generate ==========
        function clickLike(e) {
            e.preventDefault();
            // 색상으로 구분?
            likeIcon = document.getElementById("likeIcon");

            if(likeIcon.style.color === "gray") {
            // 색상이 회색이라면 ? 찜추가를 요청
                requestActiveLike(addLikeResult, "POST");
            } else if(likeIcon.style.color === "red") {
            // 색상이 빨간색이라면? 찜삭제를 요청
                requestActiveLike(deleteLikeResult, "DELETE");
            }
        }

        function addToCart() {
            httpRequest = new XMLHttpRequest();

            var requestDao = getAddRequestDao();
            console.log(requestDao);

            httpRequest.onreadystatechange = addToCartResult;
            httpRequest.open("POST", "/api/cart");
            httpRequest.setRequestHeader("Content-Type", "application/json");
            httpRequest.send(JSON.stringify(requestDao));

        }

        // ============ Get Instance ==============
        function getHttpInstance() {
            if(!httpRequest) {
                httpRequest = new XMLHttpRequest();
            }

            return httpRequest;
        }

        function getAddRequestDao() {
            var dao = {
                itemId: itemId,
                orderCount: parseInt(document.getElementById("orderCount").value),
            }

            return dao;
        }

        function activeLike(color, count) {
            likeIcon.style.color = color;
            likeCount.innerText = parseInt(likeCount.innerText)+count;
        }

        function requestActiveLike(e, type) {
            // 서버에 요청을 한다
            httpRequest = getHttpInstance();
            // 성공시 색상을 변경한다.
            httpRequest.onreadystatechange = e;
            httpRequest.open(type, "/api/like/"+itemId);
            httpRequest.send();
        }

        // ================ Event Result Function ===============
        function addToCartResult() {
            try {
                if(httpRequest.readyState === XMLHttpRequest.DONE) {
                    if(httpRequest.status === 200) {
                        if(confirm("성공적으로 담았습니다. 장바구니로 이동하시겠습니까?")) {
                            window.location.href = "/mycart";
                        }
                    } else {
                        alert(httpRequest.responseText);
                        return;
                    }
                }
            } catch (e) {
                alert("Caught : " + e.description);
            }
        }

        function addLikeResult() {
            try {
                if(httpRequest.readyState === XMLHttpRequest.DONE) {
                    if(httpRequest.status === 200) {
                        activeLike("red", 1);
                    } else {
                        alert(httpRequest.responseText);
                        return;
                    }
                }
            } catch (e) {
                alert("Caught : " + e.description);
            }
        }

        function deleteLikeResult() {
            try {
                if(httpRequest.readyState === XMLHttpRequest.DONE) {
                    if(httpRequest.status === 200) {
                        activeLike("gray", -1);
                    } else {
                        alert(httpRequest.responseText);
                        return;
                    }
                }
            } catch (e) {
                alert("Caught : " + e.description);
            }
        }
    }

</script>

</body>
</html>