<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

        <main class="site-main" style="padding: 50px 40px;">
            <section style="display: flex; margin-bottom: 100px;">
                <th:block th:replace="fragment/mypage-menu :: mypage-menu">
                </th:block>
                <div style="float: right; width: 85%;">
                    <section>
                        <div style="display: flex; align-items: center; border-bottom: 3px solid #000000; padding-bottom: 14px; margin-top: 48px; font-size: 14px; position: relative; line-height: 1.5;">
                            <h1 style="display: inline-block; font-size: 24px;">비밀번호 변경</h1>
                        </div>
                        <table style="width: 100%; line-height: 1.5; font-size: 14px; border-collapse: collapse; table-layout: fixed;">
                            <tbody>
                            <tr>
                                <th style="text-align: left; font-weight: normal; vertical-align: top; height: auto; padding:15px 0; box-sizing: border-box; border-top: 1px solid #f1f1f1; border-bottom: none; font-size: 14px;">
                                    기존 비밀번호
                                </th>
                                <td style="vertical-align: middle; height: auto; padding:15px 0; box-sizing: border-box; border-top: 1px solid #f1f1f1; border-bottom: none; font-size: 14px; text-align: left;">
                                    <input id="initPwd" type="password" style="vertical-align: middle;">
                                </td>
                                <td style="vertical-align: middle; height: auto; padding:15px 0; box-sizing: border-box; border-top: 1px solid #f1f1f1; border-bottom: none; font-size: 14px; text-align: left;">

                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: left; font-weight: normal; vertical-align: top; height: auto; padding:15px 0; box-sizing: border-box; border-top: 1px solid #f1f1f1; border-bottom: none; font-size: 14px;">
                                    변경할 비밀번호
                                </th>
                                <td style="vertical-align: middle; height: auto; padding:15px 0; box-sizing: border-box; border-top: 1px solid #f1f1f1; border-bottom: none; font-size: 14px; text-align: left;">
                                    <input id="toModPwd" type="password" style="vertical-align: middle;">
                                </td>
                                <td style="vertical-align: middle; height: auto; padding:15px 0; box-sizing: border-box; border-top: 1px solid #f1f1f1; border-bottom: none; font-size: 14px; text-align: left;">

                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: left; font-weight: normal; vertical-align: top; height: auto; padding:15px 0; box-sizing: border-box; border-top: 1px solid #f1f1f1; border-bottom: none; font-size: 14px;">
                                    비밀번호 확인
                                </th>
                                <td style="vertical-align: middle; height: auto; padding:15px 0; box-sizing: border-box; border-top: 1px solid #f1f1f1; border-bottom: none; font-size: 14px; text-align: left;">
                                    <input id="confirmToPwd" type="password" style="vertical-align: middle;">
                                </td>
                                <td style="vertical-align: middle; height: auto; padding:15px 0; box-sizing: border-box; border-top: 1px solid #f1f1f1; border-bottom: none; font-size: 14px; text-align: left;">

                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </section>
                    <section style="text-align: center; margin-top: 45px;">
                        <div>
                            <button id="modify" style="margin: 0 1px; border: 1px solid #000000; background-color: #000000; min-width: 290px; height: 60px; line-height: 54px; padding-top: 4px; font-size: 20px; color: #ffffff;">
                                변경하기
                            </button>
                        </div>
                    </section>
                </div>
            </section>
        </main>
    </th:block>
</th:block>

<script th:inline="javascript">

    window.onload = function () {

        let modifyBtn = document.getElementById("modify");

        var httpRequest;

        modifyBtn.addEventListener("click", modifyPasswordRequest);

        function modifyPasswordRequest() {
            let passwordDto = getPasswordDto();

            requestAPI(modifyResult, "PATCH", "/api/member", passwordDto);
        }

        function requestAPI(e, type, url, data) {
            const jsonParsedData = data ? JSON.stringify(data) : null;

            httpRequest = getHttpInstance();

            httpRequest.onreadystatechange = e;
            httpRequest.open(type, url);
            httpRequest.setRequestHeader("Content-Type", "application/json")
            httpRequest.send(jsonParsedData);
        }

        function getPasswordDto() {
            var obj = {
                currentPassword : document.getElementById("initPwd").value,
                toModifyPassword : document.getElementById("toModPwd").value,
                confirmPassword : document.getElementById("confirmToPwd").value,
            }
            return obj;
        }

        function getHttpInstance() {
            if(!httpRequest) {
                httpRequest = new XMLHttpRequest();
            }

            return httpRequest;
        }

        function modifyResult() {
            try {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        alert(httpRequest.responseText);
                        window.location.href = "/myinfo";
                    } else {
                        alert(httpRequest.responseText);
                        return;
                    }
                }
            }
            catch( e ) {
                alert('Caught Exception: ' + e.description);
            }
        }
    }
</script>

</body>
</html>