<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

        <main class="site-main" style="padding: 50px 40px;">
            <section style="display: flex; margin-bottom: 100px;">
                <th:block th:replace="fragment/mypage-menu :: mypage-menu">
                </th:block>
                <div style="float: right; width: 85%;">
                    <section>
                        <div style="border-bottom: 3px solid #000000; padding-bottom: 14px; line-height: 1.5; font-size: 14px; position: relative;">
                            <h1 style="font-size: 24px; display: inline-block; font-weight: normal;">
                                좋아요
                            </h1>
                        </div>
                        <ul>
                            <th:block th:each="like : ${pageResult.dtoList}">
                                <li style="width: 25%; box-sizing: border-box; margin-top: 32px; float: left; display: table; table-layout: fixed; min-height: 96px; line-height: 1.5; font-size: 14px; text-align: left; position: relative;">
                                    <a th:href="@{/item/{itemId}(itemId=${like.likedItemId})}" style="display: table-cell; width: 50%; padding-top: 96px; vertical-align: middle;">
                                        <img src="/img/bolpen.jpg" style="position: absolute; left: 0; top: 0; max-width: 100px;">
                                    </a>
                                    <ul style="display: table-cell;  width: 50%; padding-left: 10px; vertical-align: middle;">
                                        <li style="max-height: 44px; font-weight: bold; overflow: hidden; font-size: 14px; line-height: 22px;">
                                            <a th:href="@{/item/{itemId}(itemId=${like.likedItemId})}">[[${like.likedItemName}]]</a>
                                        </li>
                                        <li style="margin-top: 6px; font-weight: normal; font-size: 14px; line-height: 22px; color: #000;">
                                            [[${like.likedItemAmount}]]원
                                        </li>
                                        <li style="line-height: 16px; padding-top: 5px; font-size: 14px;">
                                            <i class="fab fa-gratipay"></i> <span>[[${like.likeCount}]]</span> 개
                                        </li>
                                    </ul>
                                </li>
                            </th:block>
                        </ul>
                        <div style="position: relative; clear: both; padding-top: 22px;">
                            <ul class="pagination" style="justify-content: center;">
                                <li class="page-item" th:if="${pageResult.prev}" style="display: inline-block; width: 28px; line-height: 22px; font-size: 16px; color: #dadada; vertical-align: top; margin: 5px 0px; background: none;">
                                    <a class="page-link" th:href="@{/mylike(page=${pageResult.start - 1},
                                size=${pageResult.size})}">이전</a>
                                </li>
                                <li th:class=" 'page-item ' + ${pageResult.page == page ? 'active' : ''} " th:each="page: ${pageResult.pageList}">
                                    <a  class="page-link" th:href="@{/mylike(page = ${page},
                                size=${pageResult.size})}">
                                        [[${page}]]
                                    </a>
                                <li class="page-item"  th:if="${pageResult.next}">
                                    <a class="page-link" th:href="@{/mylike(page=${pageResult.end + 1},
                                size=${pageResult.size})}">다음</a>
                                </li>
                            </ul>
                        </div>

                    </section>
                </div>
            </section>
        </main>

    </th:block>
</th:block>

</body>
</html>

