<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment.html :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

        <main class="site-main">
            <section class="cart_area">
                <div class="container">
                    <div class="cart_inner">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" style="padding-right: 0px;">
                                        <input type="checkbox" id="allCheck" checked="checked">
                                    </th>
                                    <th scope="col" style="text-align: center;">Product</th>
                                    <th scope="col" style="text-align: center;">Price</th>
                                    <th scope="col" style="text-align: center;">Quantity</th>
                                    <th scope="col" style="text-align: center;">Total</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:if="${cartList != null}">
                                    <th:block th:each="cart : ${cartList.cartItemDetailsDtoList}">
                                        <tr th:value="${cart.itemId}">
                                            <td style="padding-right: 0px;">
                                                <input type="checkbox" name="itemCheck" checked="checked">
                                            </td>
                                            <td>
                                                <div class="media" style="padding-left: 0px;">
                                                    <div class="d-flex">
                                                        <img src="/img/bolpen.jpg" width="150" height="100">
                                                    </div>
                                                    <div class="media-body">
                                                        <p name="itemName">[[${cart.itemName}]]</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align: center;">
                                                <h5 name="itemAmount">[[${cart.itemAmount}]] 원</h5>
                                            </td>
                                            <td style="text-align: center;">
                                                <div class="product_count">
                                                    <input type="text" name="orderCount" th:value="${cart.orderCount}"
                                                           class="input-text qty"/>개
                                                    <button name="modCountBtn">수량변경</button>
                                                </div>
                                            </td>
                                            <td style="text-align: center;">
                                                <h5 name="calTotalCount">[[${cart.calTotalAmount()}]] 원</h5>
                                            </td>
                                            <td style="text-align: center;">
                                                <button name="remove" style="border: 1px solid #dddddd;
                                                background: #fff;
                                                color: #000;
                                                font-weight: bold;
                                                font-size: 14px;">삭제</button>
                                            </td>
                                        </tr>
                                    </th:block>
                                        <tr th:if="${cartList.cartTotal == 0}">
                                            <td colspan="6">
                                                <p style="line-height: 200px; text-align: center; border-bottom: 1px solid #f5f5f5;">
                                                    장바구니에 담은 상품이 없습니다.
                                                </p>
                                            </td>
                                        </tr>
                                        <!-- ./ Cart List Table -->
                                        <tr>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <h5>Subtotal</h5>
                                            </td>
                                            <td>
                                                <h5 name="totalAmount">
                                                    <span>[[${cartList.totalAmount}]] 원</span>
                                                </h5>
                                            </td>
                                        </tr>
                                        <tr class="out_button_area">
                                            <td class="d-none-l" style="padding-right: 0px;">
                                                <button id="selRemove" style="border: 1px solid #000;
                                                background: #fff;
                                                color: #000;
                                                font-weight: bold;
                                                font-size: 14px;">선택삭제</button>
                                            </td>
                                            <td class="">
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <div class="checkout_btn_inner d-flex align-items-center" style="justify-content: flex-end;">
                                                    <button id="checkout" style="margin: 0 1px; border: 1px solid #000000; background-color: #000000; min-width: 290px; height: 60px; line-height: 54px; padding-top: 4px; font-size: 20px; color: #ffffff;">주문하기</button>
                                                </div>
                                            </td>
                                        </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Cart Area =================-->
        </main>

    </th:block>
</th:block>

<script th:inline="javascript">

    // NOTE : 아무것도 없을떄 버튼들 분기처리 필요
    (function() {
        var httpRequest;

        document.getElementById("checkout").addEventListener('click', checkoutRequest);
        document.getElementById("allCheck").addEventListener('click', isBoxChecked);
        document.getElementById("selRemove").addEventListener('click', selectRemoveRequest);
        document.getElementsByName("modCountBtn").forEach(btn => {
            btn.addEventListener('click', orderCountModifyRequest);
        })

        document.getElementsByName("itemCheck").forEach(checkbox => {
            checkbox.addEventListener('change', checkState);
        })

        document.getElementsByName("remove").forEach( list => {
            list.addEventListener('click', removeRequest);
        })

        //선택박스가 다 체크됐거나 하나라도 미체크되어 있는 경우
        function isBoxChecked() {
            const checkBoxElem = document.getElementsByName("itemCheck");

            if(this.checked) {
                checkAll(checkBoxElem);
            } else {
                nonCheckAll(checkBoxElem);
            }
        }

        // 선택박스 상태 변경시
        // NOTE : subtotal 값 변경하기
        function checkState() {

            const allCheckBtn = document.getElementById("allCheck");
            const checkBoxElem = document.getElementsByName("itemCheck");

            let checkArray = [];

            checkBoxElem.forEach(elem => {
                checkArray.push(elem.checked);
            })

            if(checkArray.includes(false)) {
                allCheckBtn.checked = false;
            } else {
                allCheckBtn.checked = true;
            }
        }

        function checkAll(elem) {
            elem.forEach( box => {
                box.checked = true;
            })
        }

        function nonCheckAll(elem) {
            elem.forEach( box => {
                box.checked = false;
            })
        }

        function confirmRemove(msg) {
            if (confirm(msg)) {
                return true;
            } else {
                return false;
            }
        }

        function checkoutRequest() {
            // 체크박스가 선택된 tr을 찾는다.
            let targetArray = {
                daoList: [],
            };
            // 객체로 변환시킨다.
            document.getElementsByName("itemCheck").forEach(box => {
                if(box.checked) {

                    let targetTr = box.closest("tr");
                    console.log(targetTr);
                    targetArray.daoList.push(
                        {
                            itemId: parseInt(targetTr.attributes[0].value),
                            orderCount: parseInt(targetTr.querySelector("input[name='orderCount']").value),
                        }
                    )
                }
            })

            console.log(targetArray);

            // 서버로 데이터를 보낸다.
            httpRequest = getHttpInstance();

            httpRequest.onreadystatechange = checkoutLogic;
            httpRequest.open('POST', '/checkout');
            httpRequest.setRequestHeader("Content-Type", "application/json")
            httpRequest.send(JSON.stringify(targetArray));
        }

        // 선택삭제
        function selectRemoveRequest() {
            const checkBoxElem = document.getElementsByName("itemCheck");
            // 빈 배열 생성
            var itemIdArray = {
                itemIdList: [],
            };
            // 노드를 하나씩 집어넣고
            // 만든 배열로 하나씩 빼면서 check된것을 확인해서 그 값의 value를 뽑아낸다.
            console.log(checkBoxElem);
            checkBoxElem.forEach(elem => {
                if(elem.checked == true) {
                    itemIdArray.itemIdList.push(parseInt(elem.closest("tr").attributes[0].value));
                }
            })

            console.log(itemIdArray);

            if(!confirmRemove("장바구니에서 삭제하시겠습니까?")) {
                console.log("삭제취소");
                return;
            }

            if(itemIdArray.itemIdList.length === 0) {
                console.log("미선택");
                alert("삭제할 상품을 선택하세요.");
                return;
            }

            httpRequest = getHttpInstance();

            httpRequest.onreadystatechange = alertContents;
            httpRequest.open('DELETE', '/api/cart');
            httpRequest.setRequestHeader("Content-Type", "application/json")
            httpRequest.send(JSON.stringify(itemIdArray));
        }

        function removeRequest() {
            if(!confirmRemove("삭제하시겠습니까?")) {
                console.log("삭제취소");
                return;
            }
            var itemId = parseInt(this.closest("tr").attributes[0].value);

            httpRequest = getHttpInstance();

            httpRequest.onreadystatechange = alertContents;
            httpRequest.open('DELETE', '/api/cart/'+itemId);
            httpRequest.setRequestHeader("Content-Type", "application/json")
            httpRequest.send();

        }

        function orderCountModifyRequest() {
            httpRequest = getHttpInstance();

            let targetTr = this.closest("tr");

            // 데이터 수집
            const data = {
                itemId: parseInt(targetTr.attributes[0].value),
                orderCount: parseInt(targetTr.querySelector("input[name='orderCount']").value),
            }
            console.log(data);

            if(!httpRequest) {
                alert('XMLHTTP 인스턴스를 만들 수가 없어요 ㅠㅠ');
                return false;
            }
            httpRequest.onreadystatechange = alertContents;
            httpRequest.open('put', '/api/cart/'+data.itemId);
            httpRequest.setRequestHeader("Content-Type", "application/json")
            httpRequest.send(JSON.stringify(data));
        }

        function getHttpInstance() {
            if(!httpRequest) {
                httpRequest = new XMLHttpRequest();
            }

            return httpRequest;
        }

        function alertContents() {
            try {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        window.location.href = "/mycart";
                    } else {
                        alert('There was a problem with the request.');
                    }
                }
            }
            catch( e ) {
                alert('Caught Exception: ' + e.description);
            }
        }

        function checkoutLogic() {
            try {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        window.location.href = httpRequest.responseText;
                    } else {
                        alert(httpRequest.responseText);
                        return;
                    }
                }
            }
            catch( e ) {
                alert('Caught Exception: ' + e.description);
            }
        }

    })();

</script>


</body>
</html>