<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment.html :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

        <main class="site-main">
            <section class="cart_area">
                <div class="container">
                    <div class="cart_inner">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <input type="checkbox" id="allCheck" checked="checked">
                                    </th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">options</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="cart : ${cartList.cartItemDetailsDtoList}">
                                <tr>
                                    <td>
                                        <input type="checkbox" name="itemCheck" th:value="${cart.itemId}" checked="checked">
                                    </td>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="/img/noimage.jpg" width="150" height="100">
                                            </div>
                                            <div class="media-body">
                                                <p name="itemName">[[${cart.itemName}]]</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5 name="itemAmount">[[${cart.itemAmount}]] 원</h5>
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <input type="text" id="orderCount" name="orderCount" maxlength="12" th:value="${cart.orderCount}" title="Quantity:"
                                                   class="input-text qty">개
                                            <button id="modCountBtn">수량변경</button>
                                        </div>
                                    </td>
                                    <td>
                                        <h5 name="calTotalCount">[[${cart.calTotalCount()}]] 원</h5>
                                    </td>
                                    <td>
                                        <button name="remove" th:value="${cart.itemId}" style="border: 1px solid #dddddd;
                                        background: #fff;
                                        color: #000;
                                        font-weight: bold;
                                        font-size: 14px;">삭제</button>
                                    </td>
                                    <input type="hidden" id="itemId" name="itemId" th:value="${cart.itemId}">
                                </tr>
                                </th:block>
                                <!-- ./ Cart List Table -->
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <h5>Subtotal</h5>
                                    </td>
                                    <td>
                                        <h5 name="totalAmount">[[${cartList.totalAmount}]] 원</h5>
                                    </td>
                                </tr>
                                <tr class="out_button_area">
                                    <td class="d-none-l">
                                    </td>
                                    <td class="">
                                        <button id="selRemove">선택삭제</button>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <div class="checkout_btn_inner d-flex align-items-center">
                                            <a class="gray_btn" href="/">Continue Shopping</a>
                                            <a class="primary-btn ml-2" href="/checkout">Proceed to checkout</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Cart Area =================-->
        </main>

    </th:block>
</th:block>

<script th:inline="javascript">

    // NOTE : 아무것도 없을떄 버튼들 분기처리 필요
    (function() {
        var httpRequest;
        // 수량변경버튼
        document.getElementById("modCountBtn").addEventListener('click', makeRequest);
        document.getElementById("allCheck").addEventListener('click', isBoxChecked);
        document.getElementById("selRemove").addEventListener('click', selectRemoveRequest);
        document.getElementsByName("itemCheck").forEach(checkbox => {
            checkbox.addEventListener('change', checkState);
        })

        document.getElementsByName("remove").forEach( list => {
            list.addEventListener('click', removeRequest);
        })

        // 선택삭제
        function selectRemoveRequest() {
            const checkBoxElem = document.getElementsByName("itemCheck");
            // 빈 배열 생성
            var itemIdArray = {
                itemIdList: [],
            };
            // 노드를 하나씩 집어넣고
            // 만든 배열로 하나씩 빼면서 check된것을 확인해서 그 값의 value를 뽑아낸다.
            console.log(checkBoxElem);
            checkBoxElem.forEach(elem => {
                if(elem.checked == true) {
                    itemIdArray.itemIdList.push(parseInt(elem.value));
                }
            })

            console.log(itemIdArray);

            if(!confirmRemove("장바구니에서 삭제하시겠습니까?")) {
                console.log("삭제취소");
                return;
            }

            if(itemIdArray.itemIdList.length === 0) {
                console.log("미선택");
                alert("삭제할 상품을 선택하세요.");
                return;
            }

            httpRequest = new XMLHttpRequest();

            httpRequest.onreadystatechange = alertContents;
            httpRequest.open('DELETE', '/api/cart');
            httpRequest.setRequestHeader("Content-Type", "application/json")
            httpRequest.send(JSON.stringify(itemIdArray));
        }

        function isBoxChecked() {
            const checkBoxElem = document.getElementsByName("itemCheck");

            if(this.checked) {
                checkAll(checkBoxElem);
            } else {
                nonCheckAll(checkBoxElem);
            }
        }

        function checkState() {

            const allCheckBtn = document.getElementById("allCheck");
            const checkBoxElem = document.getElementsByName("itemCheck");

            let checkArray = [];

            checkBoxElem.forEach(elem => {
                checkArray.push(elem.checked);
            })

            if(checkArray.includes(false)) {
                allCheckBtn.checked = false;
            } else {
                allCheckBtn.checked = true;
            }
        }

        function checkAll(elem) {
            elem.forEach( box => {
                box.checked = true;
            })
        }

        function nonCheckAll(elem) {
            elem.forEach( box => {
                box.checked = false;
            })
        }

        function confirmRemove(msg) {
            if(confirm(msg)) {
                return true;
            } else {
                return false;
            }
        }

        function removeRequest() {
            if(!confirmRemove()) {
                console.log("삭제취소");
                return;
            }
            var itemId = this.value;

            httpRequest = new XMLHttpRequest();

            httpRequest.onreadystatechange = alertContents;
            httpRequest.open('DELETE', '/api/cart/'+itemId);
            httpRequest.setRequestHeader("Content-Type", "application/json")
            httpRequest.send();

        }

        function makeRequest() {
            httpRequest = new XMLHttpRequest();

            // 데이터 수집
            const data = {
                itemId: document.getElementById("itemId").value,
                orderCount: document.getElementById("orderCount").value,
            }

            if(!httpRequest) {
                alert('XMLHTTP 인스턴스를 만들 수가 없어요 ㅠㅠ');
                return false;
            }
            httpRequest.onreadystatechange = alertContents;
            httpRequest.open('put', '/api/cart/'+data.itemId);
            httpRequest.setRequestHeader("Content-Type", "application/json")
            httpRequest.send(JSON.stringify(data));
        }

        function alertContents() {
            try {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        window.location.href = "/mycart";
                    } else {
                        alert('There was a problem with the request.');
                    }
                }
            }
            catch( e ) {
                alert('Caught Exception: ' + e.description);
            }
        }

    })();

</script>


</body>
</html>