<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

     <div sec:authorize="isAuthenticated()">
         <div>
             name : <span sec:authentication="principal.member"></span>
         </div>
     </div>

    <main class="site-main">
        <section class="section-margin calc-60px">
            <div class="container">
                <div class="section-intro pb-60px">
                    <p>Popular Item in the market</p>
                    <h2>판매 중인 <span class="section-intro__style">상품</span></h2>
                </div>
                <div class="row">
                    <th:block th:each="item : ${pageResult.dtoList}">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="/img/noimage.jpg" width="350" height="300">
                                    <ul class="card-product__imgOverlay">
                                        <li><button><i class="ti-search"></i></button></li>
                                        <li><button><i class="ti-shopping-cart"></i></button></li>
                                        <li><button><i class="ti-heart"></i></button></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-product__title"><a th:href="@{/item/{itemId}(itemId=${item.itemId})}">[[${item.itemName}]]</a></h4>
                                    <p class="card-product__price">[[${item.itemAmount}]]</p>
                                    <p class="card-product__price">재고 : [[${item.stockQuantity}]]</p>
                                    <p class="card-product__price">좋아요 [[${item.likeCount}]]</p>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>

                <div class="text-center">
                    <ul class="pagination">
                        <li class="page-item" th:if="${pageResult.prev}">
                            <a class="page-link" th:href="@{/(page=${pageResult.start - 1},
                            size=${pageResult.size}, keyword=${keyword})}">Previous</a>
                        </li>
                        <li th:class=" 'page-item ' + ${pageResult.page == page ? 'active' : ''} " th:each="page: ${pageResult.pageList}">
                            <a class="page-link" th:href="@{/(page = ${page},
                            size=${pageResult.size} , keyword=${keyword})}">
                                [[${page}]]
                            </a>
                        <li class="page-item" th:if="${pageResult.next}">
                            <a class="page-link" th:href="@{/(page=${pageResult.end + 1},
                            size=${pageResult.size}, keyword=${keyword})}">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    </th:block>
</th:block>

</body>
</html>