<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

    <main class="site-main">
        <section class="section-margin calc-60px">
            <div class="container">
                <div class="section-intro pb-60px">
                    <p>Popular Item in the market</p>
                    <h2>판매 중인
                        <span class="section-intro__style">상품</span>

                        <ul class="pagination" style="float: right; font-size: 12px;">
                            <li class="page-item" th:if="${pageResult.prev}">
                                <a class="page-link" th:href="@{/(page=${pageResult.start - 1},
                            size=${pageResult.size}, keyword=${keyword})}">이전</a>
                            </li>
                            <li th:class=" 'page-item ' + ${pageResult.page == page ? 'active' : ''} " th:each="page: ${pageResult.pageList}">
                                <a class="page-link" th:href="@{/(page = ${page},
                            size=${pageResult.size} , keyword=${keyword})}">
                                    [[${page}]]
                                </a>
                            <li class="page-item" th:if="${pageResult.next}">
                                <a class="page-link" th:href="@{/(page=${pageResult.end + 1},
                            size=${pageResult.size}, keyword=${keyword})}">다음</a>
                            </li>
                        </ul>
                    </h2>
                </div>
                <div class="row">
                    <th:block th:each="item : ${pageResult.dtoList}">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <a th:href="@{/item/{itemId}(itemId=${item.itemId})}" style="width: 100%;">
                                        <img class="card-img" th:src="${item.imgPath}" style="max-height: 290px; max-width: 290px;">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-product__title" style="font-size: 15px;">
                                        <a th:href="@{/item/{itemId}(itemId=${item.itemId})}">[[${item.itemName}]]</a>
                                    </h4>
                                    <p class="card-product__price" style="font-size: 15px;">[[${item.itemAmount}]] 원</p>
                                    <p><i class="fab fa-gratipay"></i> [[${item.likeCount}]]</p>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>

            </div>
        </section>
    </main>

    </th:block>
</th:block>

</body>
</html>