<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<th:block th:replace="~{/fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">

        <main class="site-main">
            <section class="section-margin calc-60px">
                <div class="container">
                    <div class="section-intro pb-60px">
                        <h2>로그인</h2>
                    </div>
                    <form action="/login" method="post">
                        <div>
                            <input type="text" name="email" placeholder="이메일을 입력해주세요.">
                        </div>
                        <div>
                            <input type="password" name="password" placeholder="비밀번호를 입력해주세요.">
                        </div>
                        <div>
                            <button id="loginBtn">login</button>
                        </div>
                    </form>
                </div>

            </section>
        </main>

    </th:block>
</th:block>

</body>
</html>