<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">
        <main class="site-main" style="padding: 0px 50px;">
            <section style="margin: 80px 0px;">
                <div class="semi-header">
                    <div>
                        MyPage
                    </div>
                </div>
            </section>
            <section style="display: flex; margin-bottom: 100px;">
                <div style="float: left; width: 15%;">
                    <!-- 추후 fragment로 변경 -->
                    <dl class="mypage-menu" style="margin-top: -11px; font-size: 16px; line-height: 20px;">
                        나의 쇼핑 활동
                        <!--  -->
                        <dd style="display: block; color: #AAAAAA; line-height: 40px;">
                        <!--  <a href="#">주문내역 조회</a>-->
                        </dd>
                    </dl>
                </div>
                <div style="float: right; width: 85%;">
                    <section>
                    <div style="border-bottom: 3px solid #000000; padding-bottom: 14px; line-height: 1.5; font-size: 14px; position: relative;">
                        <h2 style="font-size: 24px; display: inline-block; font-weight: normal;">
                            주문내역 조회
                        </h2>
                    </div>
                    <div class="orderListTable" style="margin-bottom: 100px;">
                        <table style="border-top: none; border-bottom: 1px solid #e8e8e8; width: 100%; line-height: 1.5; font-size: 14px; border-collapse: collapse;table-layout: fixed;">
                            <thead>
                                <tr>
                                    <th style="width:30%; text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">상품 정보</th>
                                    <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">주문 일자</th>
                                    <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">주문 번호</th>
                                    <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">주문 총 금액(수량)</th>
                                    <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">주문 상태</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:if="${orderList != null}">
                                    <th:block th:each="order : ${orderList.myOrderDtoList}">
                                        <tr>
                                            <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                                <div style="margin: 10px 0px; display: table; table-layout: fixed; width: 100%; min-height: 96px; line-height: 1.5; font-size: 14px; text-align: left; position: relative;">
                                                    <a href="#" style="display: table-cell; width: 50%; vertical-align: middle;">
                                                        <img src="/img/cart.jpg">
                                                    </a>
                                                    <ul style="width: 50%; display: table-cell; padding-left: 10px; vertical-align: middle;">
            <!--                                            <li style="font-weight: 300; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 14px; line-height: 22px;">-->
            <!--                                                <a href="#">브랜드이름</a>-->
            <!--                                            </li>-->
                                                        <li style="max-height: 44px; font-weight: bold; overflow: hidden; font-size: 14px; line-height: 22px;">
                                                            <a href="#">[[${order.representativeItemName}]]</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td th:text="${#temporals.format(order.orderedDate, 'yyyy-MM-dd')}" style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">

                                            </td>
                                            <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                                <a href="#">[[${order.orderId}]]</a>
                                            </td>
                                            <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                                [[${order.totalAmount}]] 원
                                                <br>
                                                <span style="vertical-align: middle; color: #777777;">
                                                    [[${order.orderCount}]] 개
                                                </span>
                                            </td>
                                            <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                                [[${order.orderStatus}]]
                                            </td>
                                        </tr>
                                    </th:block>
                                </th:block>
                            </tbody>
                        </table>
                        <th:block th:if="${orderList == null || orderList.total == 0}">
                            <p style="line-height: 200px; text-align: center; border-bottom: 1px solid #f5f5f5;">
                                주문하신 내역이 없습니다.
                            </p>
                        </th:block>
                    </div>
                    </section>
                    <section>
                    <div style="border-bottom: 3px solid #000000; padding-bottom: 14px; line-height: 1.5; font-size: 14px; position: relative;">
                        <h2 style="font-size: 24px; display: inline-block; font-weight: normal;">
                            장바구니
                        </h2>
                    </div>
                    <div class="cartTable" style="margin-bottom: 100px;">
                        <table style="border-top: none; border-bottom: 1px solid #e8e8e8; width: 100%; line-height: 1.5; font-size: 14px; border-collapse: collapse;table-layout: fixed;">
                            <thead>
                            <tr>
                                <th style="width: 5%; text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">
                                    <input type="checkbox" id="allCheck">
                                </th>
                                <th style="width:30%; text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">상품 정보</th>
                                <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">상품 금액</th>
                                <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">상품 수량</th>
                                <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">총 금액</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:if="${cart != null}">
                                <th:block th:each="cart : ${cart.cartItemDetailsDtoList}">
                                    <tr>
                                        <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                            <input type="checkbox" id="">
                                        </td>
                                        <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                            <div style="margin: 10px 0px; display: table; table-layout: fixed; width: 100%; min-height: 96px; line-height: 1.5; font-size: 14px; text-align: left; position: relative;">
                                                <a href="#" style="display: table-cell; width: 50%; vertical-align: middle;">
                                                    <img src="/img/cart.jpg">
                                                </a>
                                                <ul style="width: 50%; display: table-cell; padding-left: 10px; vertical-align: middle;">
        <!--                                            <li style="font-weight: 300; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 14px; line-height: 22px;">-->
        <!--                                                <a href="#">브랜드이름</a>-->
        <!--                                            </li>-->
                                                    <li style="max-height: 44px; font-weight: bold; overflow: hidden; font-size: 14px; line-height: 22px;">
                                                        <a th:href="@{/item/{itemId}(itemId=${cart.itemId})}">[[${cart.itemName}]]</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                            [[${cart.itemAmount}]] 원
                                        </td>
                                        <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                            <!-- 추후 input -->
                                            [[${cart.orderCount}]] 개
                                        </td>
                                        <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                            [[${cart.calTotalAmount()}]] 원
                                        </td>
                                    </tr>
                                </th:block>
                            </th:block>
                            </tbody>
                        </table>
                        <th:block th:if="${cart == null || cart.cartTotal == 0}">
                            <p style="line-height: 200px; text-align: center; border-bottom: 1px solid #f5f5f5;">
                                장바구니에 담긴 상품이 없습니다.
                            </p>
                        </th:block>
                    </div>
                    </section>
                    <section>
                    <div style="border-bottom: 3px solid #000000; padding-bottom: 14px; line-height: 1.5; font-size: 14px; position: relative;">
                        <h2 style="font-size: 24px; display: inline-block; font-weight: normal;">
                            찜 목록
                        </h2>
                    </div>
                    <div>
                        <th:block th:if="${like != null}">
                            <th:block th:each="like : ${like.dtoList}">
                                <ul>
                                    <li style="width: 33%; box-sizing: border-box; margin-top: 32px; float: left; display: table; table-layout: fixed; min-height: 96px; line-height: 1.5; font-size: 14px; text-align: left; position: relative;">
                                        <a href="#" style="display: table-cell; width: 50%; padding-top: 96px; vertical-align: middle;">
                                            <img src="/img/cart.jpg" style="position: absolute; left: 0; top: 0;">
                                        </a>
                                        <ul style="display: table-cell;  width: 50%; padding-left: 10px; vertical-align: middle;">
                                            <li style="max-height: 44px; font-weight: bold; overflow: hidden; font-size: 14px; line-height: 22px;">
                                                <a th:href="@{/item/{itemId}(itemId=${like.likedItemId})}">[[${like.likedItemName}]]</a>
                                            </li>
                                            <li style="margin-top: 6px; font-weight: normal; font-size: 14px; line-height: 22px; color: #000;">
                                                [[${like.likedItemAmount}]]원
                                            </li>
                                            <li style="line-height: 16px; padding-top: 5px; font-size: 14px;">
                                                <i class="fab fa-gratipay"></i> <span>[[${like.likeCount}]]</span> 개
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </th:block>
                        </th:block>
                        <th:block th:if="${like == null || like.dtoList.size() == 0}">
                            <p style="line-height: 200px; text-align: center; border-bottom: 1px solid #f5f5f5;">
                                찜 목록에 추가하신 상품이 없습니다.
                            </p>
                        </th:block>
                    </div>
                    </section>
                </div>
            </section>
        </main>

    </th:block>
</th:block>

</body>
</html>