<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/fragment :: setBody(~{ :: body})}">
    <th:block th:fragment="body">
        <main class="site-main">

            <section style="margin: 10px 0px; background: #000000;">
<!--                <div class="semi-header" style="max-width: 1880px; margin: 0 auto; padding: 95px 0 50px 290px; box-sizing: border-box; position: relative; overflow: hidden;">-->
<!--                    <h1 style="font-size: 24px; color: #ffffff; font-weight: normal; line-height: 30px; position: absolute; left: 40px; top: 20px;">-->
<!--                        MyPage-->
<!--                    </h1>-->
<!--                </div>-->
            </section>
        </main>
        <main class="site-main" style="padding: 50px 40px;">
            <section style="display: flex; margin-bottom: 100px;">
                <th:block th:replace="fragment/mypage-menu :: mypage-menu">
                </th:block>
                <div style="float: right; width: 85%;">
                    <section>
                    <div style="border-bottom: 3px solid #000000; padding-bottom: 14px; line-height: 1.5; font-size: 14px; position: relative;">
                        <h2 style="font-size: 24px; display: inline-block; font-weight: normal;">
                            주문내역 조회
                        </h2>
                    </div>
                    <div class="orderListTable" style="margin-bottom: 100px;">
                        <table style="border-top: none; border-bottom: 1px solid #e8e8e8; width: 100%; line-height: 1.5; font-size: 14px; border-collapse: collapse;table-layout: fixed;">
                            <thead>
                                <tr>
                                    <th style="width:30%; text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">상품 정보</th>
                                    <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">주문 일자</th>
                                    <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">주문 번호</th>
                                    <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">주문 총 금액(수량)</th>
                                    <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">주문 상태</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:if="${orderList != null}">
                                    <th:block th:each="order : ${orderList.myOrderDtoList}">
                                        <tr>
                                            <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                                <div style="margin: 10px 0px; display: table; table-layout: fixed; width: 100%; min-height: 96px; line-height: 1.5; font-size: 14px; text-align: left; position: relative;">
                                                    <a th:href="@{/item/{itemId}(itemId=${order.representativeItemId})}" style="display: table-cell; width: 50%; vertical-align: middle;">
                                                        <img th:src="${order.representativeImgPath}" style="max-width: 100px;">
                                                    </a>
                                                    <ul style="width: 50%; display: table-cell; padding-left: 10px; vertical-align: middle;">
            <!--                                            <li style="font-weight: 300; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 14px; line-height: 22px;">-->
            <!--                                                <a href="#">브랜드이름</a>-->
            <!--                                            </li>-->
                                                        <li style="max-height: 44px; font-weight: bold; overflow: hidden; font-size: 14px; line-height: 22px;">
                                                            <a th:href="@{/item/{itemId}(itemId=${order.representativeItemId})}">
                                                                [[${order.representativeItemName}]]
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td th:text="${#temporals.format(order.orderedDate, 'yyyy-MM-dd')}" style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">

                                            </td>
                                            <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                                <a th:href="@{/order/order_view/orderId/{orderId}(orderId=${order.orderId})}">
                                                    [[${order.orderId}]]
                                                </a>
                                            </td>
                                            <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                                [[${order.totalAmount}]] 원
                                                <br>
                                                <span style="vertical-align: middle; color: #777777;">
                                                    [[${order.orderCount}]] 개
                                                </span>
                                            </td>
                                            <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                                [[${order.orderStatus}]]
                                            </td>
                                        </tr>
                                    </th:block>
                                </th:block>
                            </tbody>
                        </table>
                        <th:block th:if="${orderList == null || orderList.total == 0}">
                            <p style="line-height: 200px; text-align: center; border-bottom: 1px solid #f5f5f5;">
                                주문하신 내역이 없습니다.
                            </p>
                        </th:block>
                    </div>
                    </section>
                    <section>
                    <div style="border-bottom: 3px solid #000000; padding-bottom: 14px; line-height: 1.5; font-size: 14px; position: relative;">
                        <h2 style="font-size: 24px; display: inline-block; font-weight: normal;">
                            장바구니
                        </h2>
                    </div>
                    <div class="cartTable" style="margin-bottom: 100px;">
                        <table style="border-top: none; border-bottom: 1px solid #e8e8e8; width: 100%; line-height: 1.5; font-size: 14px; border-collapse: collapse;table-layout: fixed;">
                            <thead>
                            <tr>
                                <th style="width: 5%; text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">
                                    <input type="checkbox" id="allCheck">
                                </th>
                                <th style="width:30%; text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">상품 정보</th>
                                <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">상품 금액</th>
                                <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">상품 수량</th>
                                <th style="text-align: center; border-bottom: 1px solid #e8e8e8; padding: 10px 0px;">총 금액</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:if="${cart != null}">
                                <th:block th:each="cart : ${cart.cartItemDetailsDtoList}">
                                    <tr th:value="${cart.itemId}">
                                        <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                            <input type="checkbox" name="itemCheck" >
                                        </td>
                                        <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                            <div style="margin: 10px 0px; display: table; table-layout: fixed; width: 100%; min-height: 96px; line-height: 1.5; font-size: 14px; text-align: left; position: relative;">
                                                <a th:href="@{/item/{itemId}(itemId=${cart.itemId})}" style="display: table-cell; width: 50%; vertical-align: middle;">
                                                    <img th:src="${cart.imgPath}" style="max-width: 100px;">
                                                </a>
                                                <ul style="width: 50%; display: table-cell; padding-left: 10px; vertical-align: middle;">
        <!--                                            <li style="font-weight: 300; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 14px; line-height: 22px;">-->
        <!--                                                <a href="#">브랜드이름</a>-->
        <!--                                            </li>-->
                                                    <li style="max-height: 44px; font-weight: bold; overflow: hidden; font-size: 14px; line-height: 22px;">
                                                        <a th:href="@{/item/{itemId}(itemId=${cart.itemId})}">[[${cart.itemName}]]</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                            [[${cart.itemAmount}]] 원
                                        </td>
                                        <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                            <div style="position: relative; display: inline-block;">
                                                <!-- 추후 input -->
                                                <button name="modQty" data-oper="sub" style="display: block; width: 30px; border: 0; background: #eee; padding: 5px; position: relative; float: left;">-</button>
                                                <input name="orderCount" disabled style="width: 32px; height: 30px; border: 1px solid #eee; text-align: center; color: #000000; float: left;" th:value="${cart.orderCount}">
                                                <button name="modQty" data-oper="add" style="display: block; width: 30px; border: 0; background: #eee; padding: 5px; position: relative; float: left;">+</button>
                                            </div>
                                        </td>
                                        <td style="height: 70px; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #f5f5f5; text-align: center; vertical-align: middle; word-break: break-all;">
                                            [[${cart.calTotalAmount()}]] 원
                                        </td>
                                    </tr>
                                </th:block>
                            </th:block>
                            </tbody>
                        </table>
                        <th:block th:if="${cart == null || cart.cartTotal == 0}">
                            <p style="line-height: 200px; text-align: center; border-bottom: 1px solid #f5f5f5;">
                                장바구니에 담긴 상품이 없습니다.
                            </p>
                        </th:block>
                        <div style="clear: both; position: relative; text-align: center; padding-top: 20px; min-height: 32px;">
                            <div style="left: 0; float: none; position: absolute; top: 20px; z-index: 1;">
                                <button id="selRemove" style="border: 1px solid #000;
                                                background: #fff;
                                                color: #000;
                                                font-weight: bold;
                                                font-size: 14px;">선택삭제</button>
                            </div>
                            <button id="checkout" style="margin: 0 1px; border: 1px solid #000000; background-color: #000000; min-width: 290px; height: 60px; line-height: 54px; padding-top: 4px; font-size: 20px; color: #ffffff;">
                                주문하기
                            </button>
                        </div>
                    </div>
                    </section>
                    <section>
                    <div style="border-bottom: 3px solid #000000; padding-bottom: 14px; line-height: 1.5; font-size: 14px; position: relative;">
                        <h2 style="font-size: 24px; display: inline-block; font-weight: normal;">
                            좋아요 목록
                        </h2>
                    </div>
                    <div>
                        <th:block th:if="${like != null}">
                            <th:block th:each="like : ${like.dtoList}">
                                <ul>
                                    <li style="width: 33%; box-sizing: border-box; margin-top: 32px; float: left; display: table; table-layout: fixed; min-height: 96px; line-height: 1.5; font-size: 14px; text-align: left; position: relative;">
                                        <a th:href="@{/item/{itemId}(itemId=${like.likedItemId})}" style="display: table-cell; width: 50%; padding-top: 96px; vertical-align: middle;">
                                            <img th:src="${like.likedItemImgPath}" style="position: absolute; left: 0; top: 0; max-width: 100px;">
                                        </a>
                                        <ul style="display: table-cell;  width: 50%; padding-left: 10px; vertical-align: middle;">
                                            <li style="max-height: 44px; font-weight: bold; overflow: hidden; font-size: 14px; line-height: 22px;">
                                                <a th:href="@{/item/{itemId}(itemId=${like.likedItemId})}">[[${like.likedItemName}]]</a>
                                            </li>
                                            <li style="margin-top: 6px; font-weight: normal; font-size: 14px; line-height: 22px; color: #000;">
                                                [[${like.likedItemAmount}]]원
                                            </li>
                                            <li style="line-height: 16px; padding-top: 5px; font-size: 14px;">
                                                <i class="fab fa-gratipay"></i> <span>[[${like.likeCount}]]</span> 개
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </th:block>
                        </th:block>
                        <th:block th:if="${like == null || like.dtoList.size() == 0}">
                            <p style="line-height: 200px; text-align: center; border-bottom: 1px solid #f5f5f5;">
                                찜 목록에 추가하신 상품이 없습니다.
                            </p>
                        </th:block>
                    </div>
                    </section>
                </div>
            </section>
        </main>

    </th:block>
</th:block>

<script th:inline="javascript">

    window.onload = function () {

        var httpRequest;

        const modQtyBtn = document.getElementsByName("modQty");
        const allCheckBtn = document.getElementById("allCheck");
        const itemCheckBtn = document.getElementsByName("itemCheck");
        const selRemoveBtn = document.getElementById("selRemove");
        const checkoutBtn = document.getElementById("checkout");

        checkoutBtn.addEventListener('click', checkoutRequest);
        selRemoveBtn.addEventListener('click', selectRemoveRequest);
        allCheckBtn.addEventListener('click', isBoxChecked);

        itemCheckBtn.forEach(checkbox => {
            checkbox.addEventListener('change', checkState);
        })

        modQtyBtn.forEach(btn => {
            btn.addEventListener('click', modQuantityRequest);
        })

        function modQuantityRequest() {
            let targetTr = this.closest("tr");
            let targetOrderCount = targetTr.querySelector("input[name='orderCount']").value;
            let btnType = this.dataset.oper;

            const addQty = 1;
            const subQty = -1;

            if(btnType === "add") {
                // 추가 이벤트
                modQtyRequest(targetTr, addQty);
            } else if (btnType === "sub") {
                // 빼기 이벤트
                modQtyRequest(targetTr, subQty);
            }
        }

        function modQtyRequest(targetTr, count) {
            let targetItemId = parseInt(targetTr.attributes[0].value);
            let targetOrderCount = targetTr.querySelector("input[name='orderCount']").value;

            // 데이터 수집
            const data = {
                itemId: targetItemId,
                orderCount: parseInt(targetOrderCount)+count,
            }
            console.log(data);

            requestAPI(modifyOrderCountResultLogic, 'PUT', '/api/cart/'+data.itemId, data);
            // 완료 후 화면의 개수 변경
            if(count === -1) {
                return false;
            }
            targetTr.querySelector("input[name='orderCount']").value = parseInt(targetOrderCount)+count;
        }

        //선택박스가 다 체크됐거나 하나라도 미체크되어 있는 경우
        function isBoxChecked() {
            const checkBoxElem = document.getElementsByName("itemCheck");

            if(this.checked) {
                checkAll(checkBoxElem);
            } else {
                nonCheckAll(checkBoxElem);
            }
        }

        function checkAll(elem) {
            elem.forEach( box => {
                box.checked = true;
            })
        }

        function nonCheckAll(elem) {
            elem.forEach( box => {
                box.checked = false;
            })
        }

        function confirmRemove(msg) {
            if (confirm(msg)) {
                return true;
            } else {
                return false;
            }
        }

        function checkState() {

            const allCheckBtn = document.getElementById("allCheck");
            const checkBoxElem = document.getElementsByName("itemCheck");

            let checkArray = [];

            checkBoxElem.forEach(elem => {
                checkArray.push(elem.checked);
            })

            if(checkArray.includes(false)) {
                allCheckBtn.checked = false;
            } else {
                allCheckBtn.checked = true;
            }
        }

        function checkCartList() {
            let cartCount = [[${cart.cartTotal}]];

            if(!cartCount) {
                alert("주문할 상품이 없습니다.");
                return false;
            }
            return true;
        }

        function checkoutRequest() {
            if(!checkCartList()) {
                return false;
            }

            // 체크박스가 선택된 tr을 찾는다.
            let targetArray = {
                daoList: [],
            };
            // 객체로 변환시킨다.
            document.getElementsByName("itemCheck").forEach(box => {
                if(box.checked) {

                    let targetTr = box.closest("tr");
                    console.log(targetTr);
                    targetArray.daoList.push(
                        {
                            itemId: parseInt(targetTr.attributes[0].value),
                            orderCount: parseInt(targetTr.querySelector("input[name='orderCount']").value),
                        }
                    )
                }
            })

            console.log(targetArray);

            requestAPI(checkoutLogic, 'POST', '/checkout', targetArray);
        }

        // 선택삭제
        function selectRemoveRequest() {
            const checkBoxElem = document.getElementsByName("itemCheck");
            // 빈 배열 생성
            var itemIdArray = {
                itemIdList: [],
            };
            // 노드를 하나씩 집어넣고
            // 만든 배열로 하나씩 빼면서 check된것을 확인해서 그 값의 value를 뽑아낸다.
            console.log(checkBoxElem);
            checkBoxElem.forEach(elem => {
                if(elem.checked == true) {
                    itemIdArray.itemIdList.push(parseInt(elem.closest("tr").attributes[0].value));
                }
            })

            console.log(itemIdArray);

            if(!confirmRemove("장바구니에서 삭제하시겠습니까?")) {
                console.log("삭제취소");
                return;
            }

            if(itemIdArray.itemIdList.length === 0) {
                console.log("미선택");
                alert("삭제할 상품을 선택하세요.");
                return;
            }

            requestAPI(selectRemoveResultLogic, 'DELETE', '/api/cart', itemIdArray);
        }

        function getHttpInstance() {
            if(!httpRequest) {
                httpRequest = new XMLHttpRequest();
            }

            return httpRequest;
        }

        function requestAPI(e, type, url, data) {
            const jsonParsedData = data ? JSON.stringify(data) : null;

            httpRequest = getHttpInstance();

            httpRequest.onreadystatechange = e;
            httpRequest.open(type, url);
            httpRequest.setRequestHeader("Content-Type", "application/json")
            httpRequest.send(jsonParsedData);
        }

        function modifyOrderCountResultLogic() {
            try {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        alert("수량 변경이 완료되었습니다.")
                        window.location.reload();
                    } else {
                        alert(httpRequest.responseText);
                        return false;
                    }
                }
            }
            catch( e ) {
                alert('Caught Exception: ' + e.description);
            }
        }

        function selectRemoveResultLogic() {
            try {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        window.location.reload();
                    } else {
                        alert(httpRequest.responseText);
                        return;
                    }
                }
            }
            catch( e ) {
                alert('Caught Exception: ' + e.description);
            }
        }

        function checkoutLogic() {
            try {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        window.location.href = httpRequest.responseText;
                    } else {
                        alert(httpRequest.responseText);
                        return;
                    }
                }
            }
            catch( e ) {
                alert('Caught Exception: ' + e.description);
            }
        }
    }

</script>

</body>
</html>